# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# builds directory
builds/
bin/

# Dependency directories
vendor/

# Go workspace files
go.work
go.work.sum

# VSCode settings folder
.vscode/

# Intelij settings folder
.idea/

# Test reports and coverage
report.json
coverage.out

# diagnostic messages from go vet
govet-report.out

# macOS Finder metadata files
.DS_Store
