# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# builds directory
builds/
bin/



# Dependency directories
vendor/

# Go workspace file
go.work

#VSCode settings folder
.vscode/

#Intelij settings folder
.idea/

#test reports and coverage
report.json
coverage.out
