{{- if .Values.certManagerRbac.create }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ .Values.certManagerRbac.binding }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "ncm-issuer.certManagerRbac.roleName" . }}
subjects:
- kind: ServiceAccount
  name: {{ .Values.certManagerRbac.sa }}
  namespace: {{ .Values.certManagerRbac.namespace }}

{{- end }}
