name: build
on: push

jobs:
  go-versions:
    name: "lookup go versions"
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.versions.outputs.matrix }}
      go-mod-version: ${{ steps.versions.outputs.go-mod-version }}
    steps:
      - uses: actions/checkout@v3

      - uses: arnested/go-version-action@v1
        id: versions

  unit:
    name: "unit tests"
    needs: go-versions
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ${{ fromJSON(needs.go-versions.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v3

      - name: "setup go"
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}

      - name: "install dependencies"
        run: go get .

      - name: "test with go"
        run: make test

  golangci:
    name: "lint"
    needs: go-versions
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: "setup go"
        uses: actions/setup-go@v3
        with:
          go-version: ${{ fromJSON(needs.go-versions.outputs.go-mod-version) }}

      - name: "golangci-lint"
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.52.2
          only-new-issues: true
          args: --config=.golangci.yml

  build:
    name: "build"
    needs: go-versions
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ${{ fromJSON(needs.go-versions.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v3

      - name: "setup go"
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}

      - name: "build ncm-issuer"
        run: make build
