name: build
on: push

jobs:
  go-versions:
    name: "lookup go versions"
    runs-on: ubuntu-latest
    outputs:
      go-mod-version: ${{ steps.versions.outputs.go-mod-version }}
    steps:
      - uses: actions/checkout@v4
      - uses: arnested/go-version-action@v1
        id: versions

  golangci:
    name: "lint"
    needs: go-versions
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: "setup go"
        uses: actions/setup-go@v5
        with:
          go-version: ${{ needs.go-versions.outputs.go-mod-version }}

      - name: "install golangci-lint"
        run: |
          mkdir -p ${{ github.workspace }}/bin
          GOBIN=${{ github.workspace }}/bin go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.8

      - name: "run golangci-lint"
        run: |
          ${{ github.workspace }}/bin/golangci-lint run --out-format=colored-line-number --config=.golangci.yml

  unit:
    name: "unit tests"
    needs: go-versions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: "setup go"
        uses: actions/setup-go@v5
        with:
          go-version: ${{ needs.go-versions.outputs.go-mod-version }}

      - name: "install dependencies"
        run: go get .

      - name: "test with go"
        run: make test

  build-ncm-issuer:
    name: "build ncm-issuer"
    needs: go-versions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: "setup go"
        uses: actions/setup-go@v5
        with:
          go-version: ${{ needs.go-versions.outputs.go-mod-version }}

      - name: "build ncm-issuer"
        run: make build
