name: san test

on:
  workflow_call:

jobs:
  san-test:
    name: "san test"
    runs-on: ubuntu-latest
    services:
      registry:
        image: registry:2
        ports:
          - 5000:5000
    strategy:
      fail-fast: false
    steps:
    - name: "checkout GIT"
      uses: actions/checkout@v2

    - uses: actions/setup-go@v3
    - run: go version

    - name: "get runner ip"
      run: |
        echo RUNNER_IP=$(ip addr show eth0 | grep -i "inet " | cut -d ' ' -f 6 | cut -d '/' -f 1) >> $GITHUB_ENV
        echo RUNNER_PATH=$(pwd | sed 's_/_\\/_g') >> $GITHUB_ENV
    - run: echo "runner IP is ${{ env.RUNNER_IP }}"

    - name: "get runner name"
      run: |
        echo RUNNER_NAME=$(hostname) >> $GITHUB_ENV
    - run: echo "runner NAMME is ${{ env.RUNNER_NAME }}"

    - name: "get unix timestamp"
      run: |
        echo RUNNER_UTS=$(date +%s) >> $GITHUB_ENV
    - run: echo "unix timestamp is ${{ env.RUNNER_UTS }}"

    - name: "build ncm-issuer image"
      run: |
        make vendor
        make docker-build

    - name: "push ncm-issuer image to local registry"
      run: |
        docker images | grep -i ncm-issuer | awk '{print $1":"$2}' | xargs -I V sh -c 'docker tag V localhost:5000/V;docker push localhost:5000/V'

    - name: "install microk8s"
      run: |
        sudo snap install microk8s --classic
        sudo microk8s status --wait-ready
        sudo microk8s enable helm3
        sudo microk8s enable dns
        echo K8S_VERSION=$(sudo microk8s.kubectl version --short=true|grep -Po 'Server Version: \K.*' -m 1) >> $GITHUB_ENV
    - run: echo "k8s ${{ env.K8S_VERSION }}"

    - name: "install cert-manager charts"
      run: |
        sudo microk8s.kubectl create namespace cert-manager
        sudo microk8s.helm3 repo add jetstack https://charts.jetstack.io
        sudo microk8s.helm3 repo update
        sudo microk8s.helm3 install cert-manager jetstack/cert-manager --namespace cert-manager --set installCRDs=true
        echo CERTMGR_VERSION=$(sudo microk8s.helm3 list -n cert-manager -o yaml|grep -Po 'cert-manager-\K.*' -m 1) >> $GITHUB_ENV
    - run: echo "cert-manager ${{ env.CERTMGR_VERSION }}"

    - name: "sleep for 10s"
      uses: juliangruber/sleep-action@v1
      with:
        time: 10s

    - name: "cert-manager status"
      run: |
        sudo microk8s.helm3 list -A
        sudo microk8s.kubectl get pods -A
        sudo microk8s.kubectl -n cert-manager logs `sudo microk8s.kubectl get pods -n cert-manager -l app=cert-manager -o jsonpath='{.items[0].metadata.name}'`|tail -25

    - name: "prepare environment / create namespace and secret"
      run: |
        mkdir -p data/logs
        echo "$NCM_CA_BUNDLE" > data/ca_bundle.pem
        cp .github/*.yml data/
        sed -i "s|ncmSERVER: NCM_SRV|ncmSERVER: $NCM_HOST|g" data/ncm-issuer.yml
        sed -i "s|- foo.bar.local|- foo.bar.local\n    - ${{ env.RUNNER_NAME }}-${{ env.RUNNER_UTS }}.bar.local|g" data/cert-resource.yml
        sed -i "s|renewBefore: 120h|ipAddresses:\n    - 192.168.1.1\n    - ${{ env.RUNNER_IP }}\n    - fc00:bad:a55:3468::443\n  renewBefore: 120h|g" data/cert-resource.yml
        sed -i "s|renewBefore: 120h|uris:\n    - spiffe://cluster.local/ns/spiffe/sa/example\n  renewBefore: 120h|g" data/cert-resource.yml
        sed -i "s|docker.io/misiektoja|localhost:5000|g" helm/values.yaml
        sudo microk8s.kubectl create namespace ncm-issuer
        sudo microk8s.kubectl create secret generic ncm-issuer -n ncm-issuer --from-literal=username=$NCM_USER --from-literal=usrPassword=$NCM_PASSWORD
        sudo microk8s.kubectl create secret generic ncm-issuer-bundle -n ncm-issuer --from-file=cacert=data/ca_bundle.pem

      env:
        NCM_HOST: ${{ secrets.NCM_HOST }}
        NCM_USER: ${{ secrets.NCM_USER }}
        NCM_PASSWORD: ${{ secrets.NCM_PASSWORD }}
        NCM_CA_BUNDLE: ${{ secrets.NCM_CA_BUNDLE }}

    - name: "install ncm-issuer plugin"
      run: |
        sudo microk8s.helm3 install -n ncm-issuer ncm-issuer "$(pwd)/helm"

    - name: "sleep for 10s"
      uses: juliangruber/sleep-action@v1
      with:
        time: 10s

    - name: "ncm-issuer plugin status"
      run: |
        sudo microk8s.helm3 list -A
        sudo microk8s.kubectl get pods -A
        sudo microk8s.kubectl -n ncm-issuer logs `sudo microk8s.kubectl get pods -A -l app=ncm-issuer -o jsonpath='{.items[0].metadata.name}'`|tail -25

    - name: "create issuer"
      run: |
        sudo microk8s.kubectl apply -f data/ncm-issuer.yml
        sudo microk8s.kubectl get issuers.certmanager.ncm.nokia.com -n ncm-issuer

    - name: "sleep for 10s"
      uses: juliangruber/sleep-action@v1
      with:
        time: 10s

    - name: "check issuer status"
      run: |
        sudo microk8s.kubectl get issuers.certmanager.ncm.nokia.com -n ncm-issuer
        sudo microk8s.kubectl -n ncm-issuer describe issuers.certmanager.ncm.nokia.com ncm
        sudo microk8s.kubectl -n ncm-issuer logs `sudo microk8s.kubectl get pods -A -l app=ncm-issuer -o jsonpath='{.items[0].metadata.name}'`|tail -25
        sudo microk8s.kubectl get issuers.certmanager.ncm.nokia.com -n ncm-issuer | grep -i True

    - name: "create certificate resource"
      run: |
        sudo microk8s.kubectl apply -f data/cert-resource.yml

    - name: "sleep for 10s"
      uses: juliangruber/sleep-action@v1
      with:
        time: 10s

    - name: "check certificate resource"
      run: |
        sudo microk8s.kubectl describe cert ncm-cert -n ncm-issuer
        sudo microk8s.kubectl -n ncm-issuer logs `sudo microk8s.kubectl get pods -A -l app=ncm-issuer -o jsonpath='{.items[0].metadata.name}'`|tail -25
        sudo microk8s.kubectl describe cert ncm-cert -n ncm-issuer  | grep "The certificate has been successfully issued"
        sudo microk8s.kubectl describe certificaterequest ncm-cert -n ncm-issuer
        sudo microk8s.kubectl describe certificaterequest ncm-cert -n ncm-issuer | grep "Approved"
        sudo microk8s.kubectl describe certificaterequest ncm-cert -n ncm-issuer | grep "Issued"
        sudo microk8s.kubectl describe certificaterequest ncm-cert -n ncm-issuer | grep "Certificate:" | awk '{print $2}' | base64 -d > /tmp/cert.der
        sudo microk8s.kubectl describe certificaterequest ncm-cert -n ncm-issuer | grep "Ca:" | awk '{print $2}' | base64 -d > /tmp/ca.pem
        openssl x509 -in /tmp/cert.der -text -noout
        openssl x509 -in /tmp/cert.der -noout -ext subjectAltName | grep -i "DNS:foo.bar.local"
        openssl x509 -in /tmp/cert.der -noout -ext subjectAltName | grep -i "DNS:${{ env.RUNNER_NAME }}-${{ env.RUNNER_UTS }}.bar.local"
        openssl x509 -in /tmp/cert.der -noout -ext subjectAltName | grep -i "IP Address:192.168.1.1"
        openssl x509 -in /tmp/cert.der -noout -ext subjectAltName | grep -i "IP Address:${{ env.RUNNER_IP }}"
        openssl x509 -in /tmp/cert.der -noout -ext subjectAltName | grep -i "IP Address:FC00:BAD:A55:3468:0:0:0:443"
        openssl x509 -in /tmp/cert.der -noout -ext subjectAltName | grep -i "URI:spiffe://cluster.local/ns/spiffe/sa/example"
        openssl verify -CAfile /tmp/ca.pem --untrusted /tmp/cert.der /tmp/cert.der

    - name: "[ * ] collecting test logs"
      continue-on-error: true
      if: ${{ failure() }}
      run: |
        sudo  microk8s.kubectl get namespaces > data/logs/get_namespaces.log
        sudo microk8s.kubectl get po -A > data/logs/get_pods.log
        sudo microk8s.kubectl describe pods ncm-issuer -n ncm-issuer > data/logs/describe_ncm-issuer.log
        sudo microk8s.kubectl get secrets -n ncm-issuer > data/logs/get_secrets.log
        sudo microk8s.kubectl get issuers.certmanager.ncm.nokia.com -n ncm-issuer > data/logs/get_issuers.log
        sudo microk8s.kubectl describe issuer.certmanager.ncm.nokia.com  -n ncm-issuer > data/logs/describe_issuer.log
        sudo microk8s.kubectl -n ncm-issuer logs  `sudo microk8s.kubectl get pods -A -l app=ncm-issuer -o jsonpath='{.items[0].metadata.name}'` > data/logs/ncm-issuer.log
        sudo microk8s.kubectl get certificaterequest -n ncm-issuer > data/logs/get_csr.log
        sudo  microk8s.kubectl describe certificaterequest ncm-cert -n ncm-issuer > data/logs/describe_csr.log
        sudo microk8s.kubectl get certificate -n ncm-issuer > data/logs/get_certificate.log
        sudo microk8s.kubectl describe certificate ncm-cert -n ncm-issuer > data/logs/describe_certificate.log
        mkdir -p ${{ github.workspace }}/artifact/upload
        sudo cp -rp data/ ${{ github.workspace }}/artifact/data/
        sudo tar -C ${{ github.workspace }}/artifact/ -cvzf ${{ github.workspace }}/artifact/upload/artifact.tar.gz data

    - name: "[ * ] uploading artificates"
      uses: actions/upload-artifact@v2
      if: ${{ failure() }}
      with:
        name: logs-ecdsa${{ matrix.keysize }}.tar.gz
        path: ${{ github.workspace }}/artifact/upload/
